<!-- filepath: /C:/Users/julia/Documents/sistemuncaus/pacientes/templates/pacientes/listar_pacientes.html -->
{% extends '_base.html' %}

{% block content %}
<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{% url 'crear_paciente' %}">Crear Paciente</a>
<h2 class="text-xl font-bold mb-4">Lista de Pacientes</h2>

<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">Nombre</th>
      <th class="px-4 py-2">Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in pacientes %}
    <tr>
      <td class="border px-4 py-2">{{ paciente.idpaciente }}</td>
      <td class="border px-4 py-2">{{ paciente.nombre }}</td>
      <td class="border px-4 py-2">
        <a href="{% url 'listar_internaciones_historicas' paciente.idpaciente %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Ver Internaciones</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}