<!-- filepath: /C:/Users/julia/Documents/sistemuncaus/templates/internacion/listar_internaciones.html -->
{% extends '_base.html' %}

{% block content %}
<h2 class="text-xl font-bold mb-4">Lista de Internaciones</h2>

<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="px-4 py-2">ID Internación</th>
      <th class="px-4 py-2">Paciente</th>
      <th class="px-4 py-2">Habitación</th>
      <th class="px-4 py-2">Cama</th>
      <th class="px-4 py-2">Fecha de Admisión</th>
      <th class="px-4 py-2">Fecha de Alta</th>
      <th class="px-4 py-2">Nota de Ingreso</th>
      <th class="px-4 py-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for internacion in internaciones %}
    <tr>
      <td class="border px-4 py-2">{{ internacion.idinternacion }}</td>
      <td class="border px-4 py-2">{{ internacion.idpaciente }}</td>
      <td class="border px-4 py-2">{{ internacion.cama.habitacion }}</td>
      <td class="border px-4 py-2">{{ internacion.cama }}</td>
      <td class="border px-4 py-2">{{ internacion.fecha_admicion }}</td>
      <td class="border px-4 py-2">{{ internacion.fecha_alta }}</td>
      <td class="border px-4 py-2">{{ internacion.nota_ingreso }}</td>
      <td class="border px-4 py-2">
        {% if es_medico %}
        {% if internacion.diagnostico_set.exists %}
          <a href="{% url 'detalle_diagnostico' internacion.idinternacion %}" class="flex bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">Ver Diagnóstico</a>
        {% else %}
          <a href="{% url 'crear_diagnostico' internacion.idinternacion %}" class="flex bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">Crear Diagnóstico</a>
        {% endif %}
      {% elif es_enfermero %}
        <a href="{% url 'seguimiento' internacion.idinternacion %}" class="bg-green-500 hover:bg-green-700 text-black font-bold py-2 px-4 rounded">Crear seguimiento</a>
      {% endif %}
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}