{% extends '_base.html' %}

{% block content %}
<h2 class="text-xl font-bold mb-4">Lista de Internaciones</h2>

<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">Paciente</th>
      <th class="px-4 py-2">Habitacion</th>
      <th class="px-4 py-2">Cama</th>
      <th class="px-4 py-2">Fecha de Admisión</th>
      <th class="px-4 py-2">Fecha de Alta</th>
      <th class="px-4 py-2">Nota de Ingreso</th>
    </tr>
  </thead>
  <tbody>
    {% for internacion in internaciones %}
    <tr>
      <td class="border px-4 py-2">{{ internacion.idinternacion }}</td>
      <td class="border px-4 py-2">{{ internacion.idpaciente }}</td>
      <td class="border px-4 py-2">{{ internacion.cama.habitacion }}</td>
      <td class="border px-4 py-2">{{ internacion.cama }}</td>
      <td class="border px-4 py-2">{{ internacion.fecha_admicion }}</td>
      <td class="border px-4 py-2">{{ internacion.fecha_alta }}</td>
      <td class="border px-4 py-2">{{ internacion.nota_ingreso }}</td>
      <td class="border px-4 py-2">
        <a href="{% url 'crear_atencion' internacion.idpaciente.idpaciente %}" class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">Crear Atención</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}